services:
  myapp:
    build: .
    container_name: myapp
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - ponger-app_ponger-network

networks:
  ponger-app_ponger-network:
    external: true
